<h3 class="text-muted">Criteria</h3>
  
<div class="row">
  <div class="col-md-3">     
   Year
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Year" tm1-select-only="true" tm1-default-element="2012" ng-model="page.titles['Year']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="row">
  <div class="col-md-3">     
   General Ledger Measure
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="General Ledger Measure" tm1-select-only="true" tm1-default-element="Amount" ng-model="page.titles['General Ledger Measure']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="row">
  <div class="col-md-3">     
   Currency
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Currency" tm1-select-only="true" tm1-subset="Default" tm1-default-element="Local" ng-model="page.titles['Currency']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="row">
  <div class="col-md-3">     
   Region
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Region" tm1-select-only="true" tm1-default-element="3" ng-model="page.titles['Region']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="row">
  <div class="col-md-3">     
   Department
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Department" tm1-select-only="true" tm1-default-element="2" ng-model="page.titles['Department']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="row">
  <div class="col-md-3">     
   Version
  </div>
  <div class="col-md-3">
      <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Version" tm1-select-only="true" tm1-default-element="1" ng-model="page.titles['Version']"></tm1-ui-subnm>
  </div>
  <div class="col-md-6">
    
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    Suppress Zeroes
  </div>
  <div class="col-md-3">
    <select class="form-control" ng-init="page.suppressZero = 'none'" ng-model="page.suppressZero">
      <option value="none">Do not Suppress Zeroes</option>
      <option value="row">Suppress Zero on Rows</option>
    </select>
  </div>
  <div class="col-md-6">
  </div>
</div>
