<div ng-controller="administationCtrl" ng-if="$root.titles['Year'] != '' && $root.titles['General Ledger Measure'] != '' && $root.titles['Department'] != '' && $root.titles['Currency'] != ''  && $root.titles['Region'] != '' && $root.titles['Version'] != ''">

        <tm1-ui-element-list
            tm1-instance="dev"
            tm1-dimension="Region"
            tm1-subset="Default"
            tm1-attributes="Description"
            ng-model="lists.region">
         </tm1-ui-element-list>

    <div class="row" >
        <div class="col-md-6 col-xs-12">
            <h3><i class="fa fa-wrench"></i> Data Administation <br />
            <small>{{$root.titles['Year']}} |  
            <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{$root.titles['Version']}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra></small></h3>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-xs-12 ">     
                    <div class="control-group">
                        <label class="control-label" for="Destination">Destination Version </label> 
                            <div class="controls" id="Destination">
                            
                             <tm1-ui-subnm 
                             tm1-instance="dev" 
                             tm1-dimension="Version" 
                             tm1-subset="Default" 
                             tm1-select-only="true" 
                             tm1-attribute="Description" 
                             tm1-default-element="3" 
                             ng-model="selections.versionTwo"></tm1-ui-subnm>
                            </div>
                    </div>
                 
                </div>
           
                <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                        <label class="control-label" for="ProcessMigrate"> </label> 
                            <div class="controls" id="ProcessMigrate">
                            
                             <tm1-ui-process
                                tm1-instance="dev"
                                tm1-name="Bedrock.Cube.Data.Copy"
                                tm1-parameter-pCube="General Ledger"
                                tm1-parameter-pDimension="Version"
                                tm1-parameter-pSourceElement="{{selections.version}}"
                                tm1-parameter-pTargetElement="{{selections.versionTwo}}"
                                tm1-parameter-pSkipRules="0"
                                tm1-parameter-pDebug=0
                                tm1-display-name="Version Migration"
                                tm1-message-running="Migration in Progress"
                                tm1-message-success="Migration Success"
                                tm1-message-error="Migration Error"
                                tm1-refresh-page="true">
                            </tm1-ui-process>
                            </div>
                    </div>
                        
                </div>   

                <div class="col-md-3 col-xs-12">
                        <div class="control-group">
                        <label class="control-label" for="ProcessClear"> </label> 
                            <div class="controls" id="ProcessClear">
                            
                             <tm1-ui-process
                                tm1-instance="dev"
                                tm1-ui-button-class="{{values.processButtonTheme}}"
                                tm1-name="Bedrock.Cube.Data.Clear"
                                tm1-parameter-pCube="General Ledger"
                                tm1-parameter-pDimension="Version"
                                tm1-parameter-pFilter="Version:{{selections.versionTwo}}"
                                tm1-parameter-pDebug=0
                                tm1-display-name="Version Clear"
                                tm1-message-running="Clear in Progress"
                                tm1-message-success="Clear Success"
                                tm1-message-error="Clear Error"
                                tm1-refresh-page="true">
                            </tm1-ui-process>
                            </div>
                    </div>
                        
                </div>   
                
            </div>
        </div>
       
    </div>

     

    <div class="row">
 
      <div class="col-md-6 col-xs-6">
          <div class="panel panel-default">
              <div class="panel-heading" style="font-size: 3em;">
                    <tm1-ui-dbr-read-only
                        tm1-instance="dev"
                        tm1-cube="General Ledger"
                        tm1-elements="{{selections.version}},{{$root.titles['Year']}},Year,{{selections.currency}},1,{{$root.titles['Department']}},Operating Profit,Amount"
                        tm1-format-percentage="false"
                        tm1-format-parenthesis="true"
                        ng-model="page.panelfromOperatingProfit">
                    </tm1-ui-dbr-read-only>

                  <div class="row">
                        <div class="col-md-12" style="font-size: 0.5em;">  <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.version}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Operating Profit</div>
                       
                    </div>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-xs-6" ng-show="false">
          <div class="panel panel-info">
              <div class="panel-heading" style="font-size: 3em;">
                    <tm1-ui-dbr-read-only
                        tm1-instance="dev"
                        tm1-cube="General Ledger"
                        tm1-elements="{{selections.version}},{{$root.titles['Year']}},Year,{{selections.currency}},1,{{$root.titles['Department']}},Other Income and Expense,Amount"
                        tm1-format-percentage="false"
                        tm1-format-parenthesis="true"
                        ng-model="page.panelfromOther">
                    </tm1-ui-dbr-read-only>

                  <div class="row">
                        <div class="col-md-12" style="font-size: 0.5em;">      <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.version}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Other Income and Expense</div>
                        
                    </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 3em;">
                      <tm1-ui-dbr-read-only
                          tm1-instance="dev"
                          tm1-cube="General Ledger"
                          tm1-elements="{{selections.versionTwo}},{{$root.titles['Year']}},Year,{{selections.currency}},1,{{$root.titles['Department']}},Operating Profit,Amount"
                          tm1-format-percentage="false"
                          tm1-format-parenthesis="true"
                          ng-model="page.paneltoOperatingProfit">
                      </tm1-ui-dbr-read-only>
  
                    <div class="row">
                          <div class="col-md-12" style="font-size: 0.5em;"> <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.versionTwo}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Operating Profit</div>
                          
                      </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 col-xs-6"  ng-show="false">
            <div class="panel panel-info">
                <div class="panel-heading" style="font-size: 3em;">
                      <tm1-ui-dbr-read-only
                          tm1-instance="dev"
                          tm1-cube="General Ledger"
                          tm1-elements="{{selections.versionTwo}},{{$root.titles['Year']}},Year,{{selections.currency}},1,{{$root.titles['Department']}},Other Income and Expense,Amount"
                          tm1-format-percentage="false"
                          tm1-format-parenthesis="true"
                          ng-model="page.paneltoOther">
                      </tm1-ui-dbr-read-only>
  
                    <div class="row">
                          <div class="col-md-12" style="font-size: 0.5em;"><tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.versionTwo}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Other Income and Expense</div>
                           
                      </div>
                </div>
            </div>
        </div>
  
    </div>

    <div  class="row other-pages">

      <div class="col-md-6 col-xs-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.version}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Table
              </div>
              <div class="panel-body">
                     

                   <hello-world ng-if="lists.region.length" tm1-instance="dev" year="{{$root.titles['Year']}}" department="{{$root.titles['Department']}}" version="{{selections.version}}" selections="selections" lists-region="lists.region"> </hello-world>
              </div>
          </div>
      </div>
      
      <div class="col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <tm1-ui-dbra tm1-instance="dev" tm1-dimension="Version" tm1-element="{{selections.versionTwo}}" tm1-attribute="Description" tm1-read-only="true"></tm1-ui-dbra> Table
                </div>
                <div class="panel-body">
                   
  
                   <hello-world ng-if="lists.region.length" tm1-instance="dev" year="{{$root.titles['Year']}}" department="{{$root.titles['Department']}}" version="{{selections.versionTwo}}" selections="selections" lists-region="lists.region"> </hello-world>
                </div>
            </div>
        </div>
   
    </div>
</div>