<div ng-controller="PandLCtrl">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> PandL
  </h1>
  
  <h3 class="text-muted">Template</h3> 
  
  <div class="table-responsive" ng-init="page.size = 10">
    <tm1-ui-rpt-view tm1-instance="dev" tm1-cube="General Ledger" ng-model="data" tm1-suppress-zero="{{page.suppressZero}}" tm1-page-size="{{page.size}}">
      <tm1-ui-rpt-config>
        <tm1-ui-rpt-title tm1-dimension="Year" tm1-element="{{page.titles['Year']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="General Ledger Measure" tm1-element="{{page.titles['General Ledger Measure']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Currency" tm1-element="{{page.titles['Currency']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Region" tm1-element="{{page.titles['Region']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Department" tm1-element="{{page.titles['Department']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Version" tm1-element="{{page.titles['Version']}}"></tm1-ui-rpt-title>
          
        <tm1-ui-rpt-row tm1-dimension="Account" tm1-subset="Net Income"></tm1-ui-rpt-row>
          
        <tm1-ui-rpt-column tm1-dimension="Period" tm1-subset="Default"></tm1-ui-rpt-column>
                    
      </tm1-ui-rpt-config>
      
      <tm1-ui-rpt-template>
        <table id="af1" class="table table-condensed">
          <thead>
            
              <tr>
                <th>Account</th>
              
                <th class="text-center">Year</th>
                <th class="text-center">Jan</th>
                <th class="text-center">Feb</th>
                <th class="text-center">Mar</th>
                <th class="text-center">Apr</th>
                <th class="text-center">May</th>
                <th class="text-center">Jun</th>
                <th class="text-center">Jul</th>
                <th class="text-center">Aug</th>
                <th class="text-center">Sep</th>
                <th class="text-center">Oct</th>
                <th class="text-center">Nov</th>
                <th class="text-center">Dec</th>
              </tr>
              
            
          </thead>
          <tbody>
            <tr ng-repeat="rowData in data.rows track by $index" ng-if="rowData.inPage">
              <td tm1-ui-rpt-row-element="rowData" tm1-dimension="Account"></td>
            
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('Year')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('01')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('02')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('03')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('04')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('05')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('06')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('07')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('08')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('09')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('10')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('11')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('12')"></tm1-ui-dbr>
              </td>
            
            </tr>
          </tbody>
          </table>
          
          <div>
            <div class="btn-group" role="group" >
              <button type="button" class="btn btn-default" ng-click="data.pageFirst()"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pagePrevious()"><i class="fa fa-angle-left"></i></button>
              <span class="btn btn-default" style="width: 70px;">{{data.page()}} of {{data.pages()}}</span>
              <button type="button" class="btn btn-default" ng-click="data.pageNext()"><i class="fa fa-angle-right"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pageLast()"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
            </div>
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(10)}" ng-click="page.size = 10">10</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(25)}" ng-click="page.size = 25">25</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(50)}" ng-click="page.size = 50">50</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(0)}" ng-click="page.size = 0">All</button>
            </div>
          </div>
      </tm1-ui-rpt-template>
    </tm1-ui-rpt-view> 
  </div>  

</div>