<div ng-controller="PandLCtrl" ng-init="showColumn = false;  ">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <div class="row" >
        <div class="col-md-6 col-xs-12">
            <h3><i class="fa fa-money"></i> P&amp;L
            </h3>
        </div>
  </div>
   <div class="col-md-4" ng-init="$root.suppressZero = 0"  >
    <div class="control-group">
     
        <div class="controls" id="Version">
         
         <button type="button" class="btn btn-primary" ng-model="$root.suppressZero" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
      {{$root.suppressZero === 1 ?  'Suppress Zero on Row' : 'Do not Suppress Zeroes'}}
    </button>
        </div>
      </div>
  </div>
 
   
   <div class="inline-block-right btn-primary" ng-click="showColumn = !showColumn"><i class="fa fa-ellipsis-h fa-2x"></i>  </div>
  <div class="table-responsive" ng-init="$root.size = 10">
     
    <tm1-ui-rpt-view tm1-instance="dev" tm1-cube="General Ledger" ng-model="data" tm1-suppress-zero="{{$root.suppressZero === 0 ?  'row' : 'none'}}" tm1-page-size="{{$root.size}}">
      <tm1-ui-rpt-config>
        <tm1-ui-rpt-title tm1-dimension="Year" tm1-element="{{$root.titles['Year']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="General Ledger Measure" tm1-element="{{$root.titles['General Ledger Measure']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Currency" tm1-element="{{$root.titles['Currency']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Region" tm1-element="{{$root.titles['Region']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Department" tm1-element="{{$root.titles['Department']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Version" tm1-element="{{$root.titles['Version']}}"></tm1-ui-rpt-title>
          
        <tm1-ui-rpt-row tm1-dimension="Account" tm1-subset="Net Income"></tm1-ui-rpt-row>
          
        <tm1-ui-rpt-column tm1-dimension="Period" tm1-subset="Default"></tm1-ui-rpt-column>
                    
      </tm1-ui-rpt-config>
      
      <tm1-ui-rpt-template>
  
        <table id="af1" class="table table-condensed">
          
          <thead>
            
              <tr>
                <th>Account</th>
                
                <th ng-show="$index > 0 && !showColumn ? false:true " ng-class="$index > 0 ? 'text-center':'text-right'" ng-repeat = "item in $root.period"  >{{item.alias}}</th>
                 
              </tr>
              
            
          </thead>
          <tbody>
            <tr ng-repeat="rowData in data.rows track by $index" ng-if="rowData.inPage">
              <td tm1-ui-rpt-row-element="rowData" tm1-dimension="Account"></td>
            
              <td class="text-right" ng-show="$index > 0 && !showColumn ? false:true "  ng-repeat = "column in $root.period">
                <tm1-ui-dbr tm1-rpt-view-model="data"  tm1-data-decimal="1" tm1-rpt-row-cell="rowData.getCell(column.key)" ng-model="cellValue[$index][column.key]"></tm1-ui-dbr>
            
              </td>
             
            
            </tr>
          </tbody>
          </table>
          
          
      </tm1-ui-rpt-template>
    </tm1-ui-rpt-view> 
     
  </div>  
<div>
            <div class="btn-group" role="group" >
              <button type="button" class="btn btn-default" ng-click="data.pageFirst()"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pagePrevious()"><i class="fa fa-angle-left"></i></button>
              <span class="btn btn-default" style="width: 70px;">{{data.page()}} of {{data.pages()}}</span>
              <button type="button" class="btn btn-default" ng-click="data.pageNext()"><i class="fa fa-angle-right"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pageLast()"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
            </div>
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(10)}" ng-click="$root.size = 10">10</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(25)}" ng-click="$root.size = 25">25</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(50)}" ng-click="$root.size = 50">50</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(0)}" ng-click="$root.size = 0">All</button>
            </div>
          </div>
</div>