 <table class="table table-striped">
       <tm1-ui-dbr-hidden 
                        tm1-instance="dev"
                        tm1-cube="General Ledger"
                        tm1-elements="{{version}},{{year}},Year,{{selections.currency}},1,{{department}},Operating Profit,Amount"
                        ng-model="page.fromTotalOperatingProfit">
                   </tm1-ui-dbr-hidden>
                      <tr>
                          <th>Region</th>
                          <th>Operating Profit</th>
                          <th>Saturation</th>
                      </tr>
                      <tr ng-repeat="item in listsRegion track by $index" style="min-height:40px;">
                          <td>{{item.alias}} 
                            
                          </td>
                        
                          <td>
                            <tm1-ui-dbr-read-only
                                tm1-instance="dev"
                                tm1-cube="General Ledger"
                                tm1-elements="{{version}},{{year}},Year,{{selections.currency}},{{item.key}},{{department}},Operating Profit,Amount"
                                tm1-format-percentage="false"
                                tm1-format-parenthesis="true"
                                ng-model="page.table.fromOperatingProfit[$index]">
                            </tm1-ui-dbr-read-only>
                          </td>
                          <td>
                            
                                <div class="progress" ng-if="page.table.fromOperatingProfit[$index] && page.fromTotalOperatingProfit">
                                        <div class="progress-bar" 
                                        role="progressbar" 
                                        aria-valuenow="{{page.table.fromOperatingProfit[$index]}}" 
                                        aria-valuemin="0" 
                                        aria-valuemax="{{page.fromTotalOperatingProfit}}" 
                                        style="width: {{(page.table.fromOperatingProfit[$index] / page.fromTotalOperatingProfit)*100 }}%;"><span class="sr-only"></span></div>
                                </div>                            
                          </td>
                      </tr>
                  </table>